root {
  --main-bg-color: #0b0e19;
  --dots-color: #a0a09f;
  --gold: #d1fa3d;
  --navb: #0f121e;
}

$accent: var(--gold);
$main-bg: var(--main-bg-color);
$text: #f3f0e7;

$font-body: 'Plus Jakarta Sans', sans-serif;
$font-heading: 'Space Grotesk', sans-serif;
